.btn {
    width: 100%;
    padding: 12px;
    background: linear-gradient(120deg, var(--primary-color), #a7a6a9);
    border: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 114, 255, 0.4);
}

    .btn:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 20px rgba(0, 114, 255, 0.6);
    }
