:root {
    --primary-color: #8e8d90; /* основной цвет */
    --primary-hover: #005fcc; /* цвет при наведении */
    --text-on-primary: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    min-width: 1100px;
}

body {
    padding-left: 10%;
    padding-right: 10%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.flex-container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    padding: 10px 0;
    background-color: var(--primary-color);
}

.header-block {
    flex: 1;
    padding: 0 10px;
}

.logo-block .header-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-on-primary);
}

.header-logo img {
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.search-block .header-search {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
}

.header-search form {
    display: flex;
    align-items: center;
    width: 100%;
}

.header-search input {
    width: 100%;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    outline: none;
}

.flex-main {
    background-color:white;
    display: flex;
    flex: 1;
}

.item-sidebar {
    min-width: 300px;
    padding: 20px;
}

    .item-sidebar ul {
        list-style: none;
    }

    .item-sidebar li {
        margin-bottom: 15px;
    }

    .item-sidebar a, .item-sidebar button {
        text-decoration: none;
        color: #3b3b3b;
        background: none;
        border: none;
        cursor: pointer;
    }

        .item-sidebar a:hover, .item-sidebar button:hover {
            color: #7f5af0;
        }

.item-content {
    flex: 1;
    
}

.item-footer {
    color: white;
    background-color: var(--primary-color);
    text-align: center;
    padding: 15px;
}

