<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Potato.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Profile.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/_btn.css" asp-append-version="true" />
</head>
<body>
    <div class="flex-container">
    @await Html.PartialAsync("_Header")

    <main class="flex-main">

    @if (User.Identity.IsAuthenticated ){
        @await Html.PartialAsync("_SideBar")
    }
            else if (!string.Equals(ViewContext.RouteData.Values["action"] as string, "Register", StringComparison.OrdinalIgnoreCase))
    {
        @await Html.PartialAsync("_Login", new Potato.ViewModels.Account.LoginViewModel())
    }

        <div class="flex-item item-content">
        @RenderBody()
        </div>
    </main>

    @await Html.PartialAsync("_Footer")
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Profile.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
