<!-- Боковая панель -->
<aside class="flex-item item-sidebar">
    <ul>
        <li><a href="/">👤 Профиль</a></li>
        <li>
            <form method="get" asp-controller="Friend" asp-action="Friends">
                <button type="submit">👥 Друзья</button>
            </form>
        </li>
        <li><a href="/Messages">✉️ Сообщения</a></li>
        <li>
            <form method="post" asp-controller="Account" asp-action="Logout">
                <button type="submit">🚪 Выйти</button>
            </form>
        </li>
    </ul>
</aside>